:root { 
  --aqua-forest: #66a76c;
  --aztec: #111719;
  --black: #000000;
  --chicago: #5b5b5e;
  --cultured-pearl: #f5f5f5;
  --fern: #66a86c;
  --manatee: #9796a1;
  --mercury: #e4e4e4;
  --outrageous-orange: #fe724c;
  --white: #ffffff;
 
  --font-size-l: 14px;
  --font-size-m: 11px;
  --font-size-xl: 16px;
  --font-size-xxl: 18px;
  --font-size-xxxl: 18.2px;
  --font-size-xxxxl: 23px;
  --font-size-xxxxxl: 45.9px;
 
  --font-family-helvetica_neue_lt_std-55roman: "Helvetica Neue LT Std-55Roman", Helvetica;
  --font-family-helvetica_neue_lt_std-56italic: "Helvetica Neue LT Std-56Italic", Helvetica;
  --font-family-helvetica_neue_lt_std-85heavy: "Helvetica Neue LT Std-85Heavy", Helvetica;
  --font-family-helvetica_neue_lt_std-bold: "Helvetica Neue LT Std-Bold", Helvetica;
  --font-family-helvetica_neue_lt_std-regular: "Helvetica Neue LT Std-Regular", Helvetica;
  --font-family-noto_sans_sc: "Noto Sans SC", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
  --font-family-zilla_slab: "Zilla Slab", Helvetica;
}
.helveticaneueltstd-bold-white-18px {
  font-family: var(--font-family-helvetica_neue_lt_std-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.helveticaneueltstd-bold-outrageous-orange-18px {
  color: var(--outrageous-orange);
  font-family: var(--font-family-helvetica_neue_lt_std-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.helveticaneueltstd-bold-aztec-18px {
  color: var(--aztec);
  font-family: var(--font-family-helvetica_neue_lt_std-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.helveticaneueltstd-55roman-normal-chicago-11px {
  color: var(--chicago);
  font-family: var(--font-family-helvetica_neue_lt_std-55roman);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.helveticaneueltstd-55roman-normal-mercury-11px {
  color: var(--mercury);
  font-family: var(--font-family-helvetica_neue_lt_std-55roman);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.notosanssc-bold-black-18-2px {
  color: var(--black);
  font-family: var(--font-family-noto_sans_sc);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.notosanssc-bold-white-23px {
  color: var(--white);
  font-family: var(--font-family-noto_sans_sc);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.helveticaneueltstd-55roman-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-helvetica_neue_lt_std-55roman);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.notosanssc-bold-black-18px {
  color: var(--black);
  font-family: var(--font-family-noto_sans_sc);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.notosanssc-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-noto_sans_sc);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.poppins-bold-outrageous-orange-14px {
  color: var(--outrageous-orange);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.poppins-bold-fern-45-9px {
  color: var(--fern);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 700;
}

.helveticaneueltstd-56italic-normal-cultured-pearl-11px {
  color: var(--cultured-pearl);
  font-family: var(--font-family-helvetica_neue_lt_std-56italic);
  font-size: var(--font-size-m);
  font-style: italic;
  font-weight: 400;
}

.helveticaneueltstd-85heavy-normal-white-32px {
  color: var(--white);
  font-family: var(--font-family-helvetica_neue_lt_std-85heavy);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}

.notosanssc-bold-black-16px {
  color: var(--black);
  font-family: var(--font-family-noto_sans_sc);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.notosanssc-bold-outrageous-orange-25px {
  color: var(--outrageous-orange);
  font-family: var(--font-family-noto_sans_sc);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}

.helveticaneueltstd-55roman-normal-chicago-20px {
  color: var(--chicago);
  font-family: var(--font-family-helvetica_neue_lt_std-55roman);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.notosanssc-bold-white-18px {
  color: var(--white);
  font-family: var(--font-family-noto_sans_sc);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.helveticaneueltstd-55roman-normal-manatee-19px {
  color: var(--manatee);
  font-family: var(--font-family-helvetica_neue_lt_std-55roman);
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
}

.poppins-bold-outrageous-orange-45-9px {
  color: var(--outrageous-orange);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 700;
}

.notosanssc-bold-outrageous-orange-45-9px {
  color: var(--outrageous-orange);
  font-family: var(--font-family-noto_sans_sc);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 700;
}

.notosanssc-bold-white-18-2px {
  color: var(--white);
  font-family: var(--font-family-noto_sans_sc);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.border-2px-outrageous-orange {
  border: 2px solid var(--outrageous-orange);
}
